<a href="https://colab.research.google.com/github/alicebu/CODE-IN-CLASS/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np

In [2]:
# Save the file path
p1 = '/content/Base_IPC.xlsx'

# Read file
d_excel = pd.read_excel(p1)

# Check
d_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Ciudades                                   24 non-null     object
 1   Ali Y Beb No Alcohólicas                   24 non-null     float64
 2   Beb Alcohólicas Y Tabaco                   24 non-null     float64
 3   Prendas De Vestir Y Calzado                24 non-null     float64
 4   Servicios                                  24 non-null     float64
 5    Para La Conservación Ordinaria Del Hogar  24 non-null     float64
 6   Salud                                      24 non-null     float64
 7   Transporte                                 24 non-null     float64
 8   Información Y Comunicación                 24 non-null     float64
 9   Recreación Y Cultura                       24 non-null     float64
 10  Educación                                  24 non-null     int64
 11  Restaurantes Y Hoteles                     24 non-null     float64
 12  Bienes Y Servicios Diversos                24 non-null     float64
 13  Total                                      24 non-null     float64
dtypes: float64(12), int64(1), object(1)
memory usage: 2.8+ KB

In [4]:
# Save the file path
p2 = '/content/Base_IPC.csv'
# Read file
d_csv = pd.read_csv(p2, sep = ';')

# Check
d_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Ciudades                                   24 non-null     object
 1   Ali Y Beb No Alcohólicas                   24 non-null     object
 2   Beb Alcohólicas Y Tabaco                   24 non-null     object
 3   Prendas De Vestir Y Calzado                24 non-null     object
 4   Servicios                                  24 non-null     object
 5    Para La Conservación Ordinaria Del Hogar  24 non-null     object
 6   Salud                                      24 non-null     object
 7   Transporte                                 24 non-null     object
 8   Información Y Comunicación                 24 non-null     object
 9   Recreación Y Cultura                       24 non-null     object
 10  Educación                                  24 non-null     object
 11  Restaurantes Y Hoteles                     24 non-null     object
 12  Bienes Y Servicios Diversos                24 non-null     object
 13  Total                                      24 non-null     object
dtypes: object(14)
memory usage: 2.8+ KB

In [6]:
# Save the file path
p3 = '/content/Base_IPC.txt'
# Read file
BX = pd.read_csv(p3, sep = '\t', encoding= 'unicode_escape')

# Check
BX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Ciudades                                   24 non-null     object
 1   Ali Y Beb No Alcohólicas                   24 non-null     object
 2   Beb Alcohólicas Y Tabaco                   24 non-null     object
 3   Prendas De Vestir Y Calzado                24 non-null     object
 4   Servicios                                  24 non-null     object
 5    Para La Conservación Ordinaria Del Hogar  24 non-null     object
 6   Salud                                      24 non-null     object
 7   Transporte                                 24 non-null     object
 8   Información Y Comunicación                 24 non-null     object
 9   Recreación Y Cultura                       24 non-null     object
 10  Educación                                  24 non-null     object
 11  Restaurantes Y Hoteles                     24 non-null     object
 12  Bienes Y Servicios Diversos                24 non-null     object
 13  Total                                      24 non-null     object
dtypes: object(14)
memory usage: 2.8+ KB

#2.Explore

###2.1. Preview

In [7]:
# Preview 0

d_excel.shape

(24, 14)

In [9]:
# Preview 1

BX.head(2)

,Ciudades,Ali Y Beb No Alcohólicas,Beb Alcohólicas Y Tabaco,Prendas De Vestir Y Calzado,Servicios,Para La Conservación Ordinaria Del Hogar,Salud,Transporte,Información Y Comunicación,Recreación Y Cultura,Educación,Restaurantes Y Hoteles,Bienes Y Servicios Diversos,Total
0,Total IPC,"-0,25","0,54","0,07","0,21","0,09","0,17","0,48","0,96","1,41","0,00","0,50","0,16","0,26"
1,Medellín,"-0,01","0,31","-0,01","0,11","0,19","0,14","0,38","1,02","2,07","0,00","1,07","0,32","0,35"

In [10]:
# Preview 2

d_excel.tail

<bound method NDFrame.tail of                Ciudades  Ali Y Beb No Alcohólicas  Beb Alcohólicas Y Tabaco  \
0             Total IPC                     -0.25                      0.54
1              Medellín                     -0.01                      0.31
2          Barranquilla                      0.29                      0.68
3          Bogotá, D.C.                     -0.68                      0.95
4   Cartagena De Indias                     -0.22                      0.43
5                 Tunja                     -0.71                      0.32
6             Manizales                      0.04                      0.15
7             Florencia                     -0.07                      0.66
8               Popayán                      0.03                      0.66
9            Valledupar                      0.21                      0.02
10             Montería                      0.06                      0.86
11                Neiva                     -0.15                     -0.19
12             Riohacha                      1.28                      0.78
13          Santa Marta                      0.07                      0.86
14        Villavicencio                     -0.29                      1.05
15                Pasto                     -0.52                      0.48
16               Cúcuta                     -0.49                      0.28
17              Armenia                     -0.35                      0.73
18              Pereira                      0.02                      0.49
19          Bucaramanga                      0.07                      0.76
20            Sincelejo                      0.60                      0.28
21               Ibagué                     -0.25                      0.83
22                 Cali                     -0.15                      0.13
23  Otras Areas Urbanas                      0.14                      0.12

    Prendas De Vestir Y Calzado  Servicios  \
0                          0.07       0.21
1                         -0.01       0.11
2                          0.17       0.42
3                          0.05       0.13
4                          0.09       0.15
5                         -0.08       0.02
6                         -0.86       0.08
7                          0.22       1.00
8                          0.28       5.64
9                          0.16       0.14
10                         0.45       0.23
11                         0.09      -0.52
12                         0.10       0.49
13                         0.28       0.70
14                         0.30      -0.05
15                         0.24       0.15
16                         0.40       0.31
17                         0.39       0.24
18                         0.32       0.35
19                         0.06       0.09
20                         0.08       0.24
21                         0.01       0.01
22                         0.03       0.36
23                         0.17      -0.02

     Para La Conservación Ordinaria Del Hogar  Salud  Transporte  \
0                                        0.09   0.17        0.48
1                                        0.19   0.14        0.38
2                                        0.12   0.14        0.33
3                                        0.06   0.15        0.66
4                                        0.46   0.20        0.09
5                                        0.17   0.08        0.21
6                                       -0.18   0.06        0.32
7                                        0.17   0.23        0.32
8                                        0.00   0.69        0.75
9                                        0.09   0.32        1.73
10                                       0.06   0.47        0.07
11                                       0.18   0.52        0.41
12                                       0.07   0.10        0.24
13                                       0.16  -1.03        0.30
14                                       0.10   0.19        0.46
15                                       0.22  -0.10        0.35
16                                       0.14   0.48        0.18
17                                      -0.11   0.41        0.30
18                                       0.02   0.16        0.02
19                                       0.05   0.01        0.32
20                                      -0.02   0.33        0.08
21                                      -0.48   0.54        0.25
22                                       0.10   0.14        0.26
23                                       0.20   0.16        0.50

    Información Y Comunicación  Recreación Y Cultura  Educación  \
0                         0.96                  1.41          0
1                         1.02                  2.07          0
2                         1.14                  1.01          0
3                         0.97                  1.30          0
4                         1.12                  0.44          0
5                         0.81                  0.71          0
6                         0.64                  0.48          0
7                         0.74                  0.69          0
8                         0.96                  1.75          0
9                         1.09                  0.49          0
10                        1.14                  0.03          0
11                        0.94                  1.87          0
12                        0.79                  0.01          0
13                        1.13                  0.44          0
14                        0.70                  1.07          0
15                        0.94                  0.54          0
16                        0.98                  1.33          0
17                        0.88                  1.27          0
18                        0.89                  1.38          0
19                        1.10                  2.72          0
20                        0.92                  0.79          0
21                        0.91                  0.95          0
22                        0.86                  1.62          0
23                        0.80                  0.25          0

    Restaurantes Y Hoteles  Bienes Y Servicios Diversos  Total
0                     0.50                         0.16   0.26
1                     1.07                         0.32   0.35
2                     0.90                         0.05   0.42
3                     0.32                         0.04   0.19
4                     0.46                         0.13   0.15
5                     0.08                         0.09   0.00
6                     1.25                         0.02   0.18
7                     0.16                         0.27   0.48
8                     0.06                         0.33   2.01
9                     0.08                         0.18   0.35
10                    0.14                         0.32   0.22
11                    0.17                         0.22   0.01
12                    0.11                         0.07   0.52
13                    0.54                         0.14   0.44
14                    0.29                         0.42   0.15
15                    0.65                        -0.10   0.14
16                    0.31                        -0.03   0.17
17                    1.32                         0.21   0.32
18                    1.00                         0.17   0.34
19                    0.50                         0.17   0.28
20                    0.41                         0.09   0.31
21                    0.77                         0.17   0.13
22                    0.33                         0.41   0.30
23                    0.48                         0.22   0.18  >

In [15]:
# Save the file path
p1 = '/content/IPC.xlsx'

# Read file
IPC = pd.read_excel(p1)

# Check
IPC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 15 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Meses                                      24 non-null     datetime64[ns]
 1   Ciudades                                   24 non-null     object
 2   Ali Y Beb No Alcohólicas                   24 non-null     float64
 3   Beb Alcohólicas Y Tabaco                   24 non-null     float64
 4   Prendas De Vestir Y Calzado                24 non-null     float64
 5   Servicios                                  24 non-null     float64
 6    Para La Conservación Ordinaria Del Hogar  24 non-null     float64
 7   Salud                                      24 non-null     float64
 8   Transporte                                 24 non-null     float64
 9   Información Y Comunicación                 24 non-null     float64
 10  Recreación Y Cultura                       24 non-null     float64
 11  Educación                                  24 non-null     int64
 12  Restaurantes Y Hoteles                     24 non-null     float64
 13  Bienes Y Servicios Diversos                24 non-null     float64
 14  Total                                      24 non-null     float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 2.9+ KB

In [18]:
# Preview 2

IPC.tail

<bound method NDFrame.tail of         Meses             Ciudades  Ali Y Beb No Alcohólicas  \
0  2021-02-02            Total IPC                     -0.25
1  2021-03-06             Medellín                     -0.01
2  2021-04-07         Barranquilla                      0.29
3  2021-05-09         Bogotá, D.C.                     -0.68
4  2021-06-10  Cartagena De Indias                     -0.22
5  2021-07-12                Tunja                     -0.71
6  2021-08-13            Manizales                      0.04
7  2021-09-14            Florencia                     -0.07
8  2021-10-16              Popayán                      0.03
9  2021-11-17           Valledupar                      0.21
10 2021-12-19             Montería                      0.06
11 2022-01-20                Neiva                     -0.15
12 2022-02-21             Riohacha                      1.28
13 2022-03-25          Santa Marta                      0.07
14 2022-04-26        Villavicencio                     -0.29
15 2022-05-28                Pasto                     -0.52
16 2022-06-29               Cúcuta                     -0.49
17 2022-07-31              Armenia                     -0.35
18 2022-09-01              Pereira                      0.02
19 2022-10-03          Bucaramanga                      0.07
20 2022-11-04            Sincelejo                      0.60
21 2022-12-06               Ibagué                     -0.25
22 2023-01-07                 Cali                     -0.15
23 2023-02-08  Otras Areas Urbanas                      0.14

    Beb Alcohólicas Y Tabaco  Prendas De Vestir Y Calzado  Servicios  \
0                       0.54                         0.07       0.21
1                       0.31                        -0.01       0.11
2                       0.68                         0.17       0.42
3                       0.95                         0.05       0.13
4                       0.43                         0.09       0.15
5                       0.32                        -0.08       0.02
6                       0.15                        -0.86       0.08
7                       0.66                         0.22       1.00
8                       0.66                         0.28       5.64
9                       0.02                         0.16       0.14
10                      0.86                         0.45       0.23
11                     -0.19                         0.09      -0.52
12                      0.78                         0.10       0.49
13                      0.86                         0.28       0.70
14                      1.05                         0.30      -0.05
15                      0.48                         0.24       0.15
16                      0.28                         0.40       0.31
17                      0.73                         0.39       0.24
18                      0.49                         0.32       0.35
19                      0.76                         0.06       0.09
20                      0.28                         0.08       0.24
21                      0.83                         0.01       0.01
22                      0.13                         0.03       0.36
23                      0.12                         0.17      -0.02

     Para La Conservación Ordinaria Del Hogar  Salud  Transporte  \
0                                        0.09   0.17        0.48
1                                        0.19   0.14        0.38
2                                        0.12   0.14        0.33
3                                        0.06   0.15        0.66
4                                        0.46   0.20        0.09
5                                        0.17   0.08        0.21
6                                       -0.18   0.06        0.32
7                                        0.17   0.23        0.32
8                                        0.00   0.69        0.75
9                                        0.09   0.32        1.73
10                                       0.06   0.47        0.07
11                                       0.18   0.52        0.41
12                                       0.07   0.10        0.24
13                                       0.16  -1.03        0.30
14                                       0.10   0.19        0.46
15                                       0.22  -0.10        0.35
16                                       0.14   0.48        0.18
17                                      -0.11   0.41        0.30
18                                       0.02   0.16        0.02
19                                       0.05   0.01        0.32
20                                      -0.02   0.33        0.08
21                                      -0.48   0.54        0.25
22                                       0.10   0.14        0.26
23                                       0.20   0.16        0.50

    Información Y Comunicación  Recreación Y Cultura  Educación  \
0                         0.96                  1.41          0
1                         1.02                  2.07          0
2                         1.14                  1.01          0
3                         0.97                  1.30          0
4                         1.12                  0.44          0
5                         0.81                  0.71          0
6                         0.64                  0.48          0
7                         0.74                  0.69          0
8                         0.96                  1.75          0
9                         1.09                  0.49          0
10                        1.14                  0.03          0
11                        0.94                  1.87          0
12                        0.79                  0.01          0
13                        1.13                  0.44          0
14                        0.70                  1.07          0
15                        0.94                  0.54          0
16                        0.98                  1.33          0
17                        0.88                  1.27          0
18                        0.89                  1.38          0
19                        1.10                  2.72          0
20                        0.92                  0.79          0
21                        0.91                  0.95          0
22                        0.86                  1.62          0
23                        0.80                  0.25          0

    Restaurantes Y Hoteles  Bienes Y Servicios Diversos  Total
0                     0.50                         0.16   0.26
1                     1.07                         0.32   0.35
2                     0.90                         0.05   0.42
3                     0.32                         0.04   0.19
4                     0.46                         0.13   0.15
5                     0.08                         0.09   0.00
6                     1.25                         0.02   0.18
7                     0.16                         0.27   0.48
8                     0.06                         0.33   2.01
9                     0.08                         0.18   0.35
10                    0.14                         0.32   0.22
11                    0.17                         0.22   0.01
12                    0.11                         0.07   0.52
13                    0.54                         0.14   0.44
14                    0.29                         0.42   0.15
15                    0.65                        -0.10   0.14
16                    0.31                        -0.03   0.17
17                    1.32                         0.21   0.32
18                    1.00                         0.17   0.34
19                    0.50                         0.17   0.28
20                    0.41                         0.09   0.31
21                    0.77                         0.17   0.13
22                    0.33                         0.41   0.30
23                    0.48                         0.22   0.18  >

#3.Add more info

In [ ]:
# Extract the year

IPC[''] = IPC['Date'].Base_IPC.Year

IPC.head()

In [ ]:
# Extract the year
ed['Year'] = ed['Date'].ed.year

# Extract the Quarter
ed['Quarter'] = ed['DATE'].ed.quarter

# Extract the Month
ed['Month'] = ed['DATE'].ed.month

# Extract the Week
ed['Week'] = ed['DATE'].ed.week

# Extract the Weekday
ed['Weekday'] = ed['DATE'].ed.weekday

# Extract the Day
df['Day'] = df['Date'].dt.day


ed.head()

#2.3. Reindex

In [20]:
IPC = IPC.set_index('Meses')
IPC.head()

,Ciudades,Ali Y Beb No Alcohólicas,Beb Alcohólicas Y Tabaco,Prendas De Vestir Y Calzado,Servicios,Para La Conservación Ordinaria Del Hogar,Salud,Transporte,Información Y Comunicación,Recreación Y Cultura,Educación,Restaurantes Y Hoteles,Bienes Y Servicios Diversos,Total
Meses,,,,,,,,,,,,,,
2021-02-02,Total IPC,-0.25,0.54,0.07,0.21,0.09,0.17,0.48,0.96,1.41,0,0.50,0.16,0.26
2021-03-06,Medellín,-0.01,0.31,-0.01,0.11,0.19,0.14,0.38,1.02,2.07,0,1.07,0.32,0.35
2021-04-07,Barranquilla,0.29,0.68,0.17,0.42,0.12,0.14,0.33,1.14,1.01,0,0.90,0.05,0.42
2021-05-09,"Bogotá, D.C.",-0.68,0.95,0.05,0.13,0.06,0.15,0.66,0.97,1.30,0,0.32,0.04,0.19
2021-06-10,Cartagena De Indias,-0.22,0.43,0.09,0.15,0.46,0.20,0.09,1.12,0.44,0,0.46,0.13,0.15

In [22]:
import plotly.express as px

In [ ]:
##2.4 Simple graph

In [35]:
fig = px.line(IPC,title = 'IPC')
fig.show()

ValueError: ignored